<?xml version="1.0"?>
<Objects>
  <Object name="Object36">
    <AbsoluteLocation value="29.977377 -9.351034"/>
    <Properties>
      <Property name="Angle" value="93.2921"/>
      <Property name="Filename" value="/Objects/pipe_straight_short.hs"/>
    </Properties>
  </Object>
  <Object name="Object31">
    <AbsoluteLocation value="29.188461 -6.574152"/>
    <Properties>
      <Property name="Angle" value="0.432193"/>
      <Property name="Filename" value="/Objects/pipe_elbow_2.hs"/>
    </Properties>
  </Object>
  <Object name="Object32">
    <AbsoluteLocation value="30.352379 -23.319784"/>
    <Properties>
      <Property name="Angle" value="93.3101"/>
      <Property name="Filename" value="/Objects/pipe_straight_short.hs"/>
    </Properties>
  </Object>
  <Object name="Object27">
    <AbsoluteLocation value="-26.749039 -7.636652"/>
    <Properties>
      <Property name="Angle" value="0"/>
      <Property name="Filename" value="/Objects/pipe_elbow_1.hs"/>
    </Properties>
  </Object>
  <Object name="Object25">
    <AbsoluteLocation value="-29.878439 -14.849531"/>
    <Properties>
      <Property name="Angle" value="84.25"/>
      <Property name="Filename" value="/Objects/pipe_straight.hs"/>
    </Properties>
  </Object>
  <Object name="Object14">
    <AbsoluteLocation value="-1.218750 5.437500"/>
    <Properties>
      <Property name="Angle" value="91.8308"/>
      <Property name="Filename" value="/Objects/pipe_straight_short.hs"/>
    </Properties>
  </Object>
  <Object name="Ducky2">
    <AbsoluteLocation value="-20.531250 15.187500"/>
    <Properties>
      <Property name="Angle" value="0"/>
      <Property name="Filename" value="/Objects/star.hs"/>
      <Property name="Type" value="star"/>
    </Properties>
  </Object>
  <Object name="Ducky3">
    <AbsoluteLocation value="22.187500 19.062500"/>
    <Properties>
      <Property name="Angle" value="0"/>
      <Property name="Filename" value="/Objects/star.hs"/>
      <Property name="Type" value="star"/>
    </Properties>
  </Object>
  <Object name="Ducky4">
    <AbsoluteLocation value="10.625000 -34.062500"/>
    <Properties>
      <Property name="Angle" value="0"/>
      <Property name="Filename" value="/Objects/star.hs"/>
      <Property name="Type" value="star"/>
    </Properties>
  </Object>
  <Object name="Object9">
    <AbsoluteLocation value="-1.125000 4.218750"/>
    <Properties>
      <Property name="Angle" value="175.586"/>
      <Property name="Filename" value="/Objects/fan_vacuum_tube.hs"/>
    </Properties>
  </Object>
  <Object name="Object13">
    <AbsoluteLocation value="-8.637936 -2.759155"/>
    <Properties>
      <Property name="Angle" value="17.9675"/>
      <Property name="Filename" value="/Objects/pipe_straight.hs"/>
    </Properties>
  </Object>
  <Object name="Spout7">
    <AbsoluteLocation value="-12.012936 -5.384155"/>
    <Properties>
      <Property name="Angle" value="-95.8954"/>
      <Property name="Filename" value="/Objects/shower_head.hs"/>
      <Property name="FluidType" value="Water"/>
      <Property name="NumberParticles" value="0"/>
      <Property name="ParticleSpeed" value="1"/>
      <Property name="Type" value="spout"/>
    </Properties>
  </Object>
  <Object name="Spout16">
    <AbsoluteLocation value="-30.708054 -19.678917"/>
    <Properties>
      <Property name="Angle" value="-109.993"/>
      <Property name="Filename" value="/Objects/shower_head.hs"/>
      <Property name="FluidType" value="Water"/>
      <Property name="NumberParticles" value="0"/>
      <Property name="Type" value="spout"/>
    </Properties>
  </Object>
  <Object name="Spout17">
    <AbsoluteLocation value="30.520397 -26.293232"/>
    <Properties>
      <Property name="Angle" value="-82.6439"/>
      <Property name="Filename" value="/Objects/shower_head.hs"/>
      <Property name="FluidType" value="Water"/>
      <Property name="NumberParticles" value="0"/>
      <Property name="Type" value="spout"/>
    </Properties>
  </Object>
  <Object name="Object19">
    <AbsoluteLocation value="-0.001216 -13.463720"/>
    <Properties>
      <Property name="Angle" value="90.328"/>
      <Property name="Filename" value="/Objects/wall_16x8_sliding.hs"/>
      <Property name="PathPos0" value="0 0"/>
      <Property name="PathPos1" value="0 -8"/>
    </Properties>
  </Object>
  <Object name="Object21">
    <AbsoluteLocation value="-24.339485 -20.533436"/>
    <Properties>
      <Property name="Angle" value="134.549"/>
      <Property name="Filename" value="/Objects/pipe_straight_short.hs"/>
    </Properties>
  </Object>
  <Object name="Object23">
    <AbsoluteLocation value="-25.067501 -19.286001"/>
    <Properties>
      <Property name="Angle" value="380.377"/>
      <Property name="Filename" value="/Objects/fan_vacuum_tube.hs"/>
    </Properties>
  </Object>
  <Object name="Object24">
    <AbsoluteLocation value="-26.145878 -10.089703"/>
    <Properties>
      <Property name="Angle" value="181.26"/>
      <Property name="Filename" value="/Objects/fan_vacuum_tube.hs"/>
    </Properties>
  </Object>
  <Object name="Object26">
    <AbsoluteLocation value="-29.616373 -10.413534"/>
    <Properties>
      <Property name="Angle" value="93.3101"/>
      <Property name="Filename" value="/Objects/pipe_straight_short.hs"/>
    </Properties>
  </Object>
  <Object name="Object28">
    <AbsoluteLocation value="-29.152988 -7.731674"/>
    <Properties>
      <Property name="Angle" value="94.4985"/>
      <Property name="Filename" value="/Objects/pipe_elbow_1.hs"/>
    </Properties>
  </Object>
  <Object name="Object10">
    <AbsoluteLocation value="-6.887936 -1.884155"/>
    <Properties>
      <Property name="Angle" value="-72.412"/>
      <Property name="Filename" value="/Objects/fan_vacuum_tube.hs"/>
    </Properties>
  </Object>
  <Object name="RightVac">
    <AbsoluteLocation value="26.503658 -7.276386"/>
    <Properties>
      <Property name="Angle" value="494.42"/>
      <Property name="ConnectedSpout0" value="Spout17"/>
      <Property name="ConnectedSpoutProbability0" value="1"/>
      <Property name="Filename" value="/Objects/vacuum_drain.hs"/>
      <Property name="Parent" value="FanGrab"/>
      <Property name="Type" value="spout"/>
      <Property name="VacuumForce" value="27"/>
      <Property name="VacuumFriction" value=".025"/>
      <Property name="VacuumMaxD" value="27"/>
      <Property name="VacuumMaxForce" value="27"/>
      <Property name="VacuumOn" value="1"/>
    </Properties>
  </Object>
  <Object name="LeftVac">
    <AbsoluteLocation value="-21.602736 -23.170807"/>
    <Properties>
      <Property name="Angle" value="225.364"/>
      <Property name="ConnectedSpout0" value="Spout16"/>
      <Property name="ConnectedSpoutProbability0" value="1"/>
      <Property name="Filename" value="/Objects/vacuum_drain.hs"/>
      <Property name="Parent" value="FanGrab"/>
      <Property name="Type" value="spout"/>
      <Property name="VacuumForce" value="27"/>
      <Property name="VacuumMaxD" value="27"/>
      <Property name="VacuumMaxForce" value="27"/>
      <Property name="VacuumOn" value="1"/>
    </Properties>
  </Object>
  <Object name="Object29">
    <AbsoluteLocation value="30.299564 -20.696655"/>
    <Properties>
      <Property name="Angle" value="4.56028"/>
      <Property name="Filename" value="/Objects/fan_vacuum_tube.hs"/>
    </Properties>
  </Object>
  <Object name="Object30">
    <AbsoluteLocation value="30.080814 -11.665405"/>
    <Properties>
      <Property name="Angle" value="183.209"/>
      <Property name="Filename" value="/Objects/fan_vacuum_tube.hs"/>
    </Properties>
  </Object>
  <Object name="Object20">
    <AbsoluteLocation value="-25.572117 -14.685226"/>
    <Properties>
      <Property name="Angle" value="0.236563"/>
      <Property name="ConnectedSpout" value="LeftVac"/>
      <Property name="Filename" value="/Objects/fan_vacuum.hs"/>
      <Property name="Type" value="fan"/>
    </Properties>
  </Object>
  <Object name="Object8">
    <AbsoluteLocation value="-2.625000 -0.187500"/>
    <Properties>
      <Property name="Angle" value="-50.1977"/>
      <Property name="ConnectedSpout" value="TopVac"/>
      <Property name="Filename" value="/Objects/fan_vacuum.hs"/>
      <Property name="Type" value="fan"/>
    </Properties>
  </Object>
  <Object name="Fan25">
    <AbsoluteLocation value="30.343750 -16.281250"/>
    <Properties>
      <Property name="Angle" value="0.236563"/>
      <Property name="ConnectedSpout" value="RightVac"/>
      <Property name="Filename" value="/Objects/fan_vacuum.hs"/>
      <Property name="Type" value="fan"/>
    </Properties>
  </Object>
  <Object name="Object33">
    <AbsoluteLocation value="0.000000 -6.937500"/>
    <Properties>
      <Property name="Angle" value="0"/>
      <Property name="Filename" value="/Objects/path_vertical_locking_end_top.hs"/>
    </Properties>
  </Object>
  <Object name="Object35">
    <AbsoluteLocation value="0.000000 -11.625000"/>
    <Properties>
      <Property name="Angle" value="0"/>
      <Property name="Filename" value="/Objects/path_vertical_locking_mid.hs"/>
    </Properties>
  </Object>
  <Object name="Object34">
    <AbsoluteLocation value="0.000000 -17.812500"/>
    <Properties>
      <Property name="Angle" value="0"/>
      <Property name="Filename" value="/Objects/path_vertical_locking_end_bottom.hs"/>
    </Properties>
  </Object>
  <Object name="TopVac">
    <AbsoluteLocation value="-1.162606 8.848189"/>
    <Properties>
      <Property name="Angle" value="359.656"/>
      <Property name="ConnectedSpout0" value="Spout7"/>
      <Property name="ConnectedSpoutProbability0" value="1"/>
      <Property name="Filename" value="/Objects/vacuum_drain.hs"/>
      <Property name="Parent" value="FanGrab"/>
      <Property name="Type" value="spout"/>
      <Property name="VacuumForce" value="40"/>
      <Property name="VacuumFriction" value="0.8"/>
      <Property name="VacuumMaxAngle" value="30"/>
      <Property name="VacuumMaxD" value="25"/>
      <Property name="VacuumMinAngle" value="-30"/>
      <Property name="VacuumOn" value="1"/>
    </Properties>
  </Object>
  <Room>
    <AbsoluteLocation value="-1.000000 -1.000000"/>
  </Room>
  <Properties>
    <Property name="BonusLevel" value="1"/>
    <Property name="BonusTimer" value="60"/>
    <Property name="ShowTopEdge" value="1"/>
  </Properties>
</Objects>
